
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="secondHalf">
        <h1>Welcome Back!!</h1>
        <img src="" alt="" srcset="" />
      </div>
      <div class="firstHalf">
        <h2>Enter your details to Login</h2>

        <form method="post">
          <label for="username">Username:</label>
          <input type="text" name="username" required />
          <label for="password">Password:</label>
          <input type="password" name="password" required />
          <button type="submit">Login</button>
        </form>

        <a href="{{site.baseurl}}/register/">Don't have an account?? Register</a>
        </div>
    </div>
  </body>
</html>

